@import 'fonts';
@import 'global';
@import 'btns';

.header {
	background-color: #FAFAFA;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 99;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 65px;
	}

	&__menu-btn {
		display: none;
	}

	&__box {

		a,
		span {
			&:hover {
				color: #F89EB8 !important;

				&::after {
					border-color: #F89EB8 !important;
				}
			}

		}
	}

	nav {
		ul {
			display: flex;
		}

		a,
		span {
			cursor: pointer;
			font-weight: 500;
		}
	}

	&__item-child {
		span {
			padding: 0 20px 0 0;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
				right: 3px;
				width: 7px;
				height: 7px;
				border-right: 1px solid rgb(32, 32, 32);
				border-bottom: 1px solid rgb(32, 32, 32);
			}
		}
	}

	&__logo {
		width: 130px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		padding: 0 0 0 50px;
	}

	&__tel {
		font-weight: 500;
	}

	&__search-icon {
		padding: 0;
		margin: 0 20px 0 30px;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}

	&__basket {
		position: relative;

		span {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: -1px;
			right: -5px;
			border-radius: 50%;
			width: 18px;
			height: 18px;
			background-color: #F89EB8;
			color: rgb(255, 255, 255);
			font-size: 10.8px;
			font-weight: 400;
			line-height: 13px;
			text-transform: uppercase;
		}
	}

	&__mob-box {
		display: none;
	}

	&__search {
		position: fixed;
		top: 70px;
		left: 0;
		right: 0;
		width: 100%;
		transform: translateY(-200%);
		transition: linear .2s;
		opacity: 0;
		z-index: 9999;
		height: calc(100vh - 70px);
		overflow: auto;
	}

	&__search-list-title {
		margin: 30px 0 25px 0;
		font-size: 18px;
		font-weight: 500;
	}

	&__search-info-top {
		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&__search-link {
		display: flex;
		align-items: center;
		margin: 0 0 0 10px;

		img {
			margin: 0 0 0 5px;
		}
	}

	&__search.open {
		transform: translateY(0);
		opacity: 1;
	}

	&__search-form {
		padding: 30px 35px 30px 60px;
		display: flex;
		align-items: center;
		background-color: #fff;
		position: relative;

		button {
			position: absolute;
			cursor: pointer;
			background-color: transparent;
			border: none;
			top: 50%;
			transform: translateY(-50%);
			left: 20px;
		}
	}

	&__input-wrap {
		position: relative;
		width: calc(100% - 30px);

		input {
			width: 100%;
			font-size: 16px;
			border: none;

			&::placeholder {
				color: rgba(32, 32, 32, 0.5);
			}
		}
	}

	&__search-close {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}

	&__search-inner {
		padding: 0 30px;
		background-color: #fff;
	}

	&__search-info {
		padding: 30px 0;
		background-color: #fff;
		border-top: 1px solid rgb(230, 230, 230);
		border-bottom: 1px solid rgb(230, 230, 230);

		strong {
			font-size: 18px;
			font-weight: 500;
			line-height: 110%;
		}

		p {
			margin: 10px 0 0 0;
		}
	}

	&__search-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 0 -25px;
		padding: 0 0 35px 0;

		.card {
			width: calc(25% - 25px);
			margin: 0 0 25px 25px;
		}
	}
}

.intro {
	max-width: 1920px;
	width: 100%;
	color: rgb(255, 255, 255);
	margin: 0 auto 0;

	&__slider {
		position: relative;
	}

	&__item {
		display: flex;
		height: 750px;

		span {
			display: flex;
			margin: 0 0 20px 0;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
		}

		h1,
		h2 {
			max-width: 501px;
			font-size: 60px;
			font-weight: 400;
			margin: 0 0 20px 0;
			line-height: 90%;
		}

		p {
			max-width: 400px;
			font-size: 14px;
			font-weight: 400;
			line-height: 150%;
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 50px 20px 130px 0;
		width: 50%;
		padding-left: calc((100vw - 1270px) / 2);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&__right {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 50px 0 130px 20px;
		width: 50%;
		padding-right: calc((100vw - 1270px) / 2);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: left center;
	}



	.btn {
		margin: 15px 0 0 0;
	}

	.swiper-pagination {
		margin-left: calc((100vw - 1270px) / 2);
		margin-bottom: 60px;
	}

}

////////////////
.recomendation {
	padding: 130px 0;

	.title {
		margin: 0 0 70px 0;
		text-align: center
	}

	.swiper-button-next {
		right: -55px;
	}

	.swiper-button-prev {
		left: -55px;
	}

	.swiper-wrapper {
		display: flex;
		align-items: stretch;
	}

	.card {
		height: auto;
	}

	.btn--arrow {
		margin: 70px auto 0;
	}



}

.swiper-products {
	position: relative;

	.card__box h6 {
		text-overflow: ellipsis;
		overflow: hidden;
		-ms-line-clamp: 4;
		-webkit-line-clamp: 4;
		line-clamp: 4;
		display: -webkit-box;
		display: box;
		word-wrap: break-word;
		-webkit-box-orient: vertical;
		box-orient: vertical;
	}

	.card {
		&__img {
			position: relative;
			width: 100%;
			height: 400px;
			padding-bottom: 0;
			margin: 0 0 25px 0;
			background-color: #fff;
		}
	}
}

.swiper-products::before {
	content: "";
	position: absolute;
	width: 40px;
	top: 0;
	bottom: 0;
	height: 100%;
	right: -65px;
	background-color: #fafafa;
	z-index: 2;
}

.swiper-products::after {
	content: "";
	position: absolute;
	width: 40px;
	top: 0;
	bottom: 0;
	height: 100%;
	left: -65px;
	background-color: #fafafa;
	z-index: 2;
}

/////////
.exellence {
	padding: 120px 0;
	background-color: #F2F1EF;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.title {
		margin: 0 0 45px 0;
	}

	&__left {
		max-width: 435px;
		width: 100%;
		margin: 0 40px 0 0;

		p {
			font-size: 18px;
			line-height: 150%;
			margin: 0 0 55px 0;
		}

		li {
			display: flex;
			align-items: flex-start;
			margin: 0 0 25px 0;

			img {
				margin: 5px 15px 0 0;
			}
		}

		.btn {
			margin: 50px 0 0 0;
		}
	}

	&__right {
		max-width: 760px;
		width: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain
		}
	}
}


//////////////////
.brand {
	padding: 90px 0;
	background-color: #F2F1EF;

	&__mob-img {
		display: none;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	.title {
		margin: 0 0 30px 0;
	}

	&__left {
		max-width: 505px;
		width: 100%;
		margin: 0 30px 0 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__right {
		max-width: 610px;
		width: 100%;

		ul {
			display: flex;
			flex-wrap: wrap;
			margin: 160px 0 0 -25px;
		}

		li {
			border-top: 1px solid rgb(221, 220, 218);
			margin: 0 0 0 25px;
			width: calc(50% - 25px);
		}

		li:last-child {
			width: calc(100% - 25px);
			border-bottom: 1px solid rgb(221, 220, 218);
		}

		a {
			font-size: 16px;
			padding: 21px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;

			svg {
				margin: 0 5px 0 0;
			}

			&:hover {
				color: #F89EB8;

				svg path {
					stroke: #F89EB8;
				}
			}
		}
	}

	p {
		font-size: 18px;
		font-weight: 400;
		line-height: 150%;
	}
}

/////////////
//////////////
.wrap {
	max-width: 100%;
	height: 60px;
	background-color: #F89EB8;
}

.wrap .items-wrap {
	display: flex;
	overflow: hidden;
	user-select: none;
	height: 100%
}

.wrap .items {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	min-width: 100%;

}

.wrap .item {
	height: 100%;
	position: relative;
	flex: 0 0 auto;
	width: fit-content;
	overflow: hidden;
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 400;
	line-height: 130%;
	color: #fff;
	padding: 0 70px 0 20px;

	&::after {
		content: "";
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #fff;
	}
}


.wrap .marquee {
	animation: scroll 130s linear infinite
}

.wrap .reverce {
	animation-direction: reverse
}

@-webkit-keyframes scroll {
	from {
		transform: translateX(0)
	}

	to {
		transform: translateX(calc(-100% - 20px))
	}
}

@keyframes scroll {
	from {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	to {
		transform: translateX(calc(-100% - 20px))
	}
}


////////////
.type-skins {
	padding: 130px 0 65px;

	.container {
		overflow: hidden;
	}

	.title {
		margin: 0 0 40px 0;
		max-width: 510px;
	}
}

.swiper-skins {
	overflow: visible;
	border-top: 1px solid rgb(228, 228, 228);
	border-bottom: 1px solid rgb(228, 228, 228);

	.swiper-slide {
		padding: 70px 15px 5px 15px;
		transition: linear .2s;
		min-height: 270px;

		&:hover {
			border-radius: 2px;
			background: rgb(242, 241, 239);

			.btn {
				opacity: 1;
			}

		}
	}

	&__img {
		margin: 0 auto 20px;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	p {
		margin: 0 0 15px 0;
		text-align: center;
		color: rgb(27, 27, 27);
		font-size: 16px;
		font-weight: 500;
		line-height: 110%;
	}

	.btn {
		margin: 0 auto;
		display: flex;
		opacity: 0;

		svg path {
			transition: linear .2s;
		}

		svg {
			margin: 0 0 0 10px;
		}

		&:hover {
			color: #F89EB8;

			svg path {
				stroke: #F89EB8;
			}
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: -60px;
	}

	.swiper-button-prev {
		left: auto;
		right: 60px;
	}
}

/////////////
.blog {
	padding: 75px 0 140px;

	.btn {
		margin: -50px 0 50px auto;
	}


	&__item {
		h3 {
			margin: 0 0 5px 0;
			color: rgb(27, 27, 27);
			font-size: 16px;
			font-weight: 500;
			line-height: 110%;
			transition: linear .2s;
		}

		p {
			color: rgb(78, 78, 78);
			font-size: 14px;
			font-weight: 400;
			line-height: 150%;
		}

		&:hover {
			h3 {
				color: #F89EB8;
			}

			.blog__item-img::after {
				transform: translateX(0);
			}
		}
	}

	&__item-img {
		margin: 0 0 20px 0;
		width: 100%;
		height: 340px;
		position: relative;
		overflow: hidden;

		&::after {
			content: "";
			position: absolute;
			bottom: 15px;
			right: 15px;
			width: 40px;
			height: 40px;
			background-image: url("../images/icons/arrow-linlk.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			transition: linear .2s;
			transform: translateX(200%);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover
		}
	}

	&__slider {
		overflow: hidden;
	}

	&__item-type {
		color: rgb(32, 32, 32);
		margin: 0 0 15px 0;
		font-size: 12px;
		font-weight: 500;
		line-height: 14px;
	}

	&--short {
		.blog__item-box {
			text-overflow: ellipsis;
			overflow: hidden;
			-ms-line-clamp: 2;
			-webkit-line-clamp: 2;
			line-clamp: 2;
			display: -webkit-box;
			display: box;
			word-wrap: break-word;
			-webkit-box-orient: vertical;
			box-orient: vertical;
		}
	}
}

/////////////
.review {
	padding: 130px 0 135px;
	background-color: #F6F6F5;
	overflow: hidden;

	.title {
		margin: 0 0 45px 0;
		max-width: 437px;
	}

	&__slider {
		position: relative;
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: -60px;
	}

	.swiper-button-prev {
		left: auto;
		right: 60px;
	}

	&__item {
		display: block;
		padding: 20px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 440px;
	}

	&__box {
		display: flex;
		align-items: center;

		&>img {
			display: block;
			margin: 0 0 0 auto;
		}
	}

	p {
		margin: 0;
		color: rgb(255, 255, 255);
		font-size: 16px;
		font-weight: 500;
		line-height: 110%;
	}

	&__avatar {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #F89EB8;
		text-transform: uppercase;
		overflow: hidden;
		flex-shrink: 0;
		margin: 0 10px 0 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover
		}
	}
}

.margin-top {
	margin: 65px 0 0 0;

}

.filter-intro {
	padding: 10px 0 40px;
	background-color: #F2F1EF;

	.title {
		margin: 0 20px 0 0;
	}

	&__box {
		margin: 140px 0 0 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__count-products {
		color: rgba(#202020, .6);
	}
}

.catalog {

	.container {
		padding: 100px 25px;
		border-bottom: 1px solid rgb(228, 228, 228);
	}

	&__inner {
		display: flex;
	}

	&__left {
		max-width: 280px;
		width: 100%;
		margin: 0 40px 0 0;
		padding: 35px 30px;
		border-radius: 2px;
		background: rgb(246, 246, 245);
		height: fit-content;
	}

	&__filter-top {
		p {
			font-size: 18px;
			font-weight: 500;
			line-height: 110%;
			margin: 0;
			text-transform: capitalize;
			margin: 0 0 30px 0;
		}
	}

	&__filter-title {
		position: relative;
		font-size: 16px;
		font-weight: 500;
		padding: 28px 0;
		position: relative;
		border-top: 1px solid rgb(228, 228, 228);
		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 45%;
			transform: translateY(-50%) rotate(-45deg);
			width: 8px;
			height: 8px;
			border-left: 1px solid #202020;
			border-bottom: 1px solid #202020;
			transition: linear .2s;
		}
	}

	&__filter-title.active {
		&::after {
			top: 52%;
			transform: translateY(-50%) rotate(-225deg);
		}
	}

	&__price-box {
		display: none;


		span {
			display: block;
			width: 10px;
			height: 1px;
			background-color: #202020;
			flex-shrink: 0;
			margin: 0 10px -20px;
		}
	}

	&__price-inner {
		display: flex;
		align-items: center;
		padding: 0 0 25px 0;
	}

	&__input-wrap {
		width: 100%;

		label {
			font-size: 12px;
		}

		input {
			border: 1px solid rgba(32, 32, 32, 0.2);
			border-radius: 2px;
			padding: 15px;
			width: 100%;
			background-color: transparent;
		}
	}

	.btn {
		width: 100%;

		&:hover {
			background-color: #343434;
			border-color: #343434;
		}
	}

	&__filter-bottom {
		border-top: 1px solid rgb(228, 228, 228);
		padding: 30px 0 0 0;
	}

	.btn-delete {
		margin: 15px auto 0;
	}

	&__close {
		display: none;
	}

	&__filter-list {
		display: none;
	}

	&__right {
		width: 100%;

		.pagination {
			display: flex;
			justify-content: center;
		}
	}

	&__right-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 25px 0;

		&>p {
			font-size: 18px;
			font-weight: 500;
			line-height: 110%;
			margin: 0;
		}
	}

	&__filter-btn {
		display: none;
	}

	&__select-wrap {
		span {
			color: #b9b9b9;
		}

		select {
			border: none;
			cursor: pointer;
			outline: none;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 0 -25px;

		.card {
			width: calc(33.33333% - 25px);
			margin: 0 0 60px 25px;
		}
	}

}

.form__box {
	margin: 0 0 15px 0;
	display: flex;
	align-items: center;

	p {
		margin: 0;
	}
}

.form__box input[type=checkbox],
.form__box input[type=radio] {
	margin: 0 10px 0 0;
	width: 16px;
	height: 16px;
	flex-shrink: 0;
	border: 1px solid #202020;
	appearance: none;
	cursor: pointer;
	outline: none;
	transition: background-color .3s ease;
	border-radius: 50%;
}

.form__box input[type=checkbox]:checked,
.form__box input[type=radio]:checked {
	background-color: #202020;
}

.filter-banner {
	background-color: #F2F1EF;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px 0 20px;
		max-width: 367px;
		width: 100%;
	}

	&__box {
		h1 {
			margin: 0 0 20px 0;
			font-size: 60px;
			font-weight: 400;
			line-height: 90%;
		}
	}

	&__right {
		max-width: 800px;
		width: 100%;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}


.text-show {
	padding: 100px 0 95px;

	::-webkit-scrollbar {
		display: block;
		width: 2px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #202020;
		border-radius: 5px;
	}

	::-webkit-scrollbar-track {
		background-color: #e4e4e4;
		border-radius: 5px;
		max-height: 80px;
		background-clip: content-box;
		margin-top: 5px !important;
		margin-bottom: 30px !important;
	}

	.gallery__btn {
		margin: 30px auto 0;
	}

	.container {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			bottom: 55px;
			left: 0;
			right: 0;
			height: 30%;
			z-index: 1;
			background: linear-gradient(0.00deg, rgb(250, 250, 250) 9.727%, rgba(250, 250, 250, 0) 100%);
		}
	}

	.gallery__text {
		margin: 0 0 20px 0;
		padding: 0 60px 0 0;
		position: relative;
		height: 67px;
		overflow: hidden;
		overflow-y: scroll;

		p {
			position: relative;

		}
	}
}

.text-show .container.open {

	&::before {
		display: none;
	}

	.gallery__text {
		padding: 0;
		height: auto;
		overflow-y: inherit;
	}


	.gallery__btn {
		display: none;
	}
}


.product {
	padding: 25px 0 40px;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		max-width: 610px;
		width: 100%;
		margin: 0 30px 0 0;
		overflow: hidden;

	}

	&__slider-top {

		margin: 0 0 15px 0;

		.swiper-slide {
			position: relative;
			padding-bottom: 81%;
			background-color: #fff;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	&__slider-bot {
		height: 100px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.swiper-slide {
			border-radius: 2px;
			background: rgb(255, 255, 255);
			cursor: pointer;
			border: 1px solid transparent;
			transition: linear .2s;
		}

		.swiper-slide-thumb-active {
			border-color: rgb(221, 220, 218);
		}
	}

	&__right {
		max-width: 560px;
		width: 100%;
	}

	&__label {
		margin: 0 0 15px 0;
		display: block;
		font-weight: 500;
		position: relative;
		outline: none;
		cursor: pointer;
		border: none;
		width: fit-content;

		&::after {
			content: "";
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 3px;
			width: 100%;
			height: 1px;
			background-color: #202020;
			transition: linear .1s;
		}
	}

	h1 {
		margin: 0 0 20px 0;
		font-size: 28px;
		font-weight: 400;
		line-height: 100%;
	}

	&__ml {
		margin: 0 0 30px 0;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		color: rgba(#202020, .4);
	}

	&__info {
		margin: 0 0 30px 0;
		font-size: 16px;
		font-weight: 500;

		&--green {
			color: rgb(77, 174, 72);
		}

		&--orange {
			color: rgb(247, 101, 26);
		}
	}

	&__price-box {
		display: flex;
		align-items: center;
		margin: 0 0 40px 0;
	}

	&__actual {
		font-size: 26px;
		font-weight: 800;
		margin: 0 25px 0 0;
	}

	&__old {
		color: rgba(84, 84, 84, 0.3);
		font-size: 26px;
		font-weight: 500;
		text-decoration-line: line-through;
	}

	&__box-btn {
		display: flex;
		margin: 0 0 40px -15px;

		.btn {
			width: calc(50% - 15px);
			margin: 0 0 0 15px;
		}
	}

	.calc {
		margin: 0 0 25px 0;
	}

	&__box {
		margin: 0 0 10px 0;
		padding: 20px 30px 10px 30px;
		border-radius: 2px;
		background: rgb(242, 241, 239);

		ol {
			margin: 0;
			padding: 0;
			counter-reset: list-item;
		}

		ol li {
			position: relative;
			margin-bottom: 10px;
			counter-increment: list-item;
			padding: 0 0 0 15px;
		}

		ol li::before {
			content: counter(list-item) ". ";
			position: absolute;
			left: 0;
		}
	}

	&__box-title {
		margin: 0 0 10px 0;
		padding: 10px 20px 10px 0;
		position: relative;
		font-size: 16px;
		font-weight: 500;
		line-height: 110%;
		cursor: pointer;

		&::after,
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			width: 10px;
			height: 1px;
			background-color: #202020;
			transition: linear .2s;
		}

		&::before {
			transform: translateY(-50%) rotate(90deg);
		}
	}

	&__box-title.hide {
		&::before {
			opacity: 0;
		}
	}

	&__box-inner {
		margin: 0 0 0 -10px;
		display: flex;
		flex-wrap: wrap;
	}

	&__box-item {
		padding: 10px 15px;
		margin: 0 0 10px 10px;
		border-radius: 60px;
		background: rgb(231, 229, 225);
	}

	&--none {
		.product__box-btn .btn {
			width: calc(100% - 15px);
		}
	}
}

.stick-side {
	position: fixed !important;
	top: 100px !important;
	right: 0 !important;
	padding: 22px 40px 22px 24px !important;
	padding-right: calc((100vw - 1275px) / 2) !important;
	border-radius: 2px 0 0 2px !important;
	display: flex !important;
	align-items: center !important;
	background-color: #4DAE48 !important;
	color: #fff !important;
	font-size: 16px !important;
	line-height: 120% !important;
	height: 40px !important;
	z-index: 9998 !important;
}


.components {

	.title {
		margin: 0 0 40px 0;
	}

	.container {
		padding: 95px 25px 115px;
		overflow: hidden;
	}

	&__slider {
		position: relative;
	}

	&__img {
		max-width: 200px;
		height: auto;
		margin: 0 0 30px 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	h3 {
		margin: 0 0 20px 0;
		font-size: 18px;
		font-weight: 500;
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: -60px;
	}

	.swiper-button-prev {
		left: auto;
		right: 60px;
	}
}

.dss-review {
	overflow: hidden;

	&__inner {
		border-top: 1px solid rgb(221, 220, 218);
		padding: 130px 0 130px;
	}

	.title {
		margin: 0 30px 50px 0;
		max-width: 715px;
	}

	&__item {
		padding: 40px 30px;
		border-radius: 2px;
		background: rgb(242, 241, 239);

		h6 {
			max-width: 310px;
			margin: 0 0 15px 0;
			font-size: 28px;
			font-weight: 400;
			line-height: 100%;
		}

	}

	.rateYo {
		margin: 0 0 25px 0;
	}

	&__date {
		margin: 60px 0 0 0;
		font-size: 12px;
		color: rgba(#202020, .4);
	}

	&__slider {
		position: relative;
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: -60px;
	}

	.swiper-button-prev {
		left: auto;
		right: 60px;
	}
}

.order {
	padding: 20px 0 120px;

	&__title-mob {
		display: none;
	}

	.title {
		font-size: 28px;
		margin: 0 0 40px 0;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		max-width: 610px;
		width: 100%;
		margin: 0 30px 0 0;
	}

	&__left-box {
		margin: 0 0 30px 0;
		border-bottom: 1px solid rgb(237, 237, 237);
	}

	&__left-box:last-child {
		margin: 0;
		border-bottom: none;
	}

	&__left-title {
		margin: 0 0 30px 0;
		font-size: 16px;
		font-weight: 500;
	}

	&__md-input {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 0 -30px;
	}

	.input-wrap {
		margin: 0 0 30px 30px;
		width: calc(50% - 30px);

		input {
			padding: 10px;
			height: 55px;
			border: 1px solid rgba(206, 206, 206, 0.7);
			border-radius: 2px;
			width: 100%;
			background-color: transparent;

			&::placeholder {
				color: rgba(32, 32, 32, 0.5);

			}
		}
	}

	.select-wrap {
		width: 100%;
		margin: 0 0 30px 0;

		select {
			width: 100%;
			border: 1px solid rgba(206, 206, 206, 0.7);
			border-radius: 2px;
			height: 54px;
			padding: 10px;
			background-color: transparent;
			outline: none;
			cursor: pointer;
		}
	}

	&__left-radios {
		display: flex;
	}

	.form__box {
		margin: 0 30px 30px 0;
	}

	.btn {
		width: 100%;
		margin: 0 0 30px 0;
	}

	.btn+p {
		color: #8D8D8D;
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;
		padding: 0 0 0 10px;

		a {
			color: #202020;
			text-decoration: underline;
		}
	}

	&__right {
		max-width: 505px;
		width: 100%;
		padding: 35px 30px;
		background: rgb(255, 255, 255);
	}

	&__right-top {
		margin: 0 0 30px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;

		p {
			margin: 0 15px 0 0;
			font-size: 18px;
			font-weight: 500;
			line-height: 110%;
		}

		strong {
			font-size: 18px;
			font-weight: 800;
			line-height: 110%;
		}
	}

	&__item {
		padding: 20px 0;
		display: flex;
		border-bottom: 1px solid rgba(206, 206, 206, 0.4);
	}

	&__item-img {
		position: relative;
		width: 145px;
		flex-shrink: 0;
		margin: 0 5px 0 0;
		height: 160px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.card__stickers {
			top: 0;
			right: 10px;
			width: 100%;
		}
	}

	&__info {
		margin: 0 0 10px 0;

		img {
			margin: 0 5px 0 0;
		}

		&--green {
			color: rgb(77, 174, 72);
		}

		&--orange {
			color: rgb(247, 101, 26);
		}
	}

	&__item-left {
		position: relative;

		h2 {
			margin: 0 0 20px 0;
			font-size: 16px;
			font-weight: 500;
			line-height: 110%;
		}
	}

	&__item-price {
		display: flex;
		align-items: center;
		margin: 0 0 20px 0;
	}

	&__price-actual {
		margin: 0 5px 0 0;
		font-size: 14px;
		font-weight: 800;
	}

	&__price-old {
		color: rgba(84, 84, 84, 0.3);
		font-size: 14px;
		font-weight: 500;
		text-decoration-line: line-through;
	}

	.low-price {
		.order__price-actual {
			color: rgb(243, 38, 38);
			font-weight: 800;
		}
	}

	.calc {
		margin: 0 40px 0 0;
	}

	&__item-close {
		position: absolute;
		right: 0;
		bottom: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__right-bot {
		padding: 30px 0 0 0;
	}

	&__bot-item {
		margin: 0 0 10px 0;
		display: flex;
		justify-content: space-between;

		*:first-child {
			margin: 0 10px 0 0;
			display: flex;
		}

		p {
			margin: 0;
		}

		strong {
			font-size: 16px;
			font-weight: 500;
		}
	}

	&__sum {
		font-size: 16px;
		font-weight: 800 !important;
	}

}

.order-empty {
	padding: 250px 0;
	background-color: #F2F1EF;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin: 0 0 30px 0;
		font-size: 60px;
		font-weight: 400;
		line-height: 90%;
		text-align: center;
	}

	p {
		max-width: 400px;
		width: 100%;
		font-size: 18px;
		font-weight: 400;
		line-height: 150%;
		text-align: center;
	}

	.btn {
		margin: 20px 0 0 0;
	}
}

.dss-skins {
	padding: 140px 0;

	.title {
		margin: 0 0 40px 0;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 0 -25px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(20% - 25px);
		margin: 0 0 0 25px;
		padding: 35px 20px;
		border-radius: 2px;
		transition: linear .2s;

		p {
			font-size: 16px;
			font-weight: 500;
			margin: 0;
		}

		.btn {
			transition: linear .2s;
			opacity: 0;
			pointer-events: none;

			&:hover {
				color: #F89EB8;

				svg path {
					stroke: #F89EB8;
				}
			}
		}

		&:hover {
			background: rgb(242, 241, 239);

			.btn {
				opacity: 1;
				pointer-events: inherit
			}
		}
	}

	&__img {
		width: 120px;
		height: 120px;
		margin: 0 auto 10px;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}


.about-intro {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	height: 750px;
	padding: 25px 0 85px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.breadcrumbs {
		margin: 0;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__left {
		max-width: 505px;

		.title {
			color: #fff;
			font-size: 60px;
			line-height: 90%;
		}
	}

	&__right {
		max-width: 395px;
		width: 100%;

		p {
			color: #fff;
		}
	}

}

.mission {
	padding: 240px 0 255px;

	.container {
		display: flex;
		justify-content: center;
	}

	&__title {
		display: inline-block;
		font-size: 60px;
		font-weight: 400;
		line-height: 120%;
		text-align: center;
		max-width: 1035px;
		width: 100%;

		span {
			font-size: 18px;
			font-weight: 400;
			line-height: 150%;
		}

		img {
			margin: 0 10px -10px;
			width: 65px;
			height: 65px;
		}
	}

	.span-one {
		display: inline-block;
		text-align: left;
		max-width: 290px;
	}

	.span-two {
		display: inline-block;
		text-align: right;
		max-width: 300px;
	}
}

.dss-history {
	padding: 130px 0 235px;
	background-color: #F2F1EF;


	.container>.title {
		margin: 0 0 25px 0;
		text-align: center;
	}

	.container>p {
		max-width: 600px;
		width: 100%;
		text-align: center;
		margin: 0 auto 40px;
		font-size: 18px;
		font-weight: 400;
		line-height: 150%;
	}

	&__slider {
		position: relative;
	}

	&__item {
		padding: 30px;
		border-radius: 2px;
		background: rgb(231, 229, 225);
		display: flex;
		justify-content: space-between;
	}

	&__left {
		max-width: 445px;
		width: 100%;
		margin: 0 25px 0 0;
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		span {
			font-size: 48px;
			font-weight: 400;
			line-height: 110%;
		}
	}

	&__left-bot {
		p {
			font-size: 18px;
			font-weight: 400;
			line-height: 150%;
		}
	}

	&__right {
		max-width: 504px;
		width: 100%;
		height: 480px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		position: absolute;
		right: auto;
		top: auto;
		bottom: -90px;
		transform: translateX(-50%);
	}

	.swiper-button-next {
		left: calc(50% + 25px);
	}

	.swiper-button-prev {
		left: calc(50% - 25px);
	}
}

.faq {
	padding: 140px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__left {
		max-width: 505px;
		height: fit-content;
		margin: 0 30px 0 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__right {
		max-width: 625px;
		width: 100%;

		&>p {
			margin: 0 0 40px 0;
			font-size: 18px;
			line-height: 150%;
		}
	}

	.title {
		margin: 0 0 40px 0;
	}
}

.accordeon {
	dl {
		margin: 0;
		padding: 25px 0;
		border-top: 1px solid rgb(221, 220, 218);
	}

	dl:last-child {
		border-bottom: 1px solid rgb(221, 220, 218);
	}

	dt {
		padding: 0 50px 0 0;
		position: relative;
		cursor: pointer;
		font-size: 18px;
		font-weight: 500;
		line-height: 110%;

		&::after,
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			right: 0;
			width: 15px;
			height: 1px;
			background-color: #202020;
			-webkit-transition: linear .2s;
			-o-transition: linear .2s;
			transition: linear .2s;
		}

		&::after {
			transform: translateY(-50%) rotate(90deg);
		}
	}

	dt.active {
		&::after {
			opacity: 0;
		}
	}

	dd {
		margin: 0;

		p {
			padding: 15px 0 0 0;
		}
	}
}















.footer {
	padding: 90px 0 210px;
	background-color: #F89EB8;
	color: #fff;
	background-image: url("../images/content/footer-bg.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;

	a {
		display: flex;
		text-decoration: underline;
		text-decoration-color: transparent;
		transition: linear .2s;

		&:hover {
			text-decoration-color: #fff;
		}
	}

	&__inner {
		display: flex;
	}

	&__col {
		margin: 0 0 0 70px;
	}

	&__col:nth-child(1) {
		max-width: 425px;
		width: 100%;
		margin: 0 30px 0 0;
	}

	&__col:nth-child(2) {
		margin: 0 0 0 auto;

		li {
			margin: 0 0 10px 0;
		}
	}

	&__col:nth-child(3) {
		max-width: 157px;
		width: 100%;

		a,
		p {
			margin: 0 0 15px 0;
		}
	}

	&__col:nth-child(4) {
		max-width: 235px;
		width: 100%;

		a,
		p {
			margin: 0 0 15px 0;
		}
	}

	&__form-title {
		font-size: 28px;
		font-weight: 400;
		line-height: 100%;
		margin: 0 0 35px 0;
	}

	&__form {
		display: flex;

		input {
			border: 1px solid rgba(255, 255, 255, 0.4);
			border-radius: 2px;
			background-color: transparent;
			padding: 10px;
			font-size: 14px;
			font-weight: 400;
			color: #fff;
			width: 100%;

			&::placeholder {
				color: rgba(#fff, .8);
			}
		}

		.btn {
			margin: 0 0 0 5px;
			background-color: transparent;
			color: #fff;
			border-color: #fff;

			&:hover {
				background-color: #fff;
				color: #F89EB8;
			}
		}
	}


	&__title {
		margin: 0 0 15px 0;
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		text-transform: uppercase;
		color: rgba(#fff, .6);
	}


	.soc {
		margin: 25px 0 0 0;

		a {
			background-color: #F89EB8;
			border-color: #fff;

			&:hover {
				background-color: #fff;

				svg path {
					fill: #F89EB8;
				}
			}
		}
	}

	&__bot {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 195px 0 0 0;

		p {
			margin: 0;
			font-size: 12px;
		}
	}
}



.modal-skin {
	max-width: 1250px;
	width: 100%;
	display: none;
	padding: 60px 40px !important;

	&__inner {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #E6E6E6;
		padding: 0 0 45px 0;
		margin: 0 0 60px 0;
	}

	&__left {
		margin: 0 40px 0 0;

		p {
			font-size: 48px;
			font-weight: 400;
			line-height: 110%;
		}
	}

	&__type {
		font-size: 12px;
		color: rgba(#202020, .6);
	}

	&__right {
		max-width: 710px;
		width: 100%;
		display: flex;

		img {
			width: 120px;
			height: 120px;
			flex-shrink: 0;
			margin: 0 90px 0 0;
		}
	}

	.slider-modal {
		overflow: hidden;
	}

	.slider-wrapper {
		.title {
			margin: 0 0 30px 0;
		}
	}

}

.fancybox-slide--html {
	padding: 60px 6px;
}

.fancybox-content {
	padding: 0;
}










@import "media";